In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [2]:
data1 = pd.read_csv('Sales1.csv')

In [3]:
data2 = pd.read_csv('Sales2.csv')

In [4]:
data3 = pd.read_csv('Sales3.csv')

In [5]:
data4 = pd.read_csv('Sales4.csv')

In [6]:
data5 = pd.read_csv('Sales5.csv')

In [7]:
data6 = pd.read_csv('Sales6.csv')

In [8]:
data7 = pd.read_csv('Sales7.csv')

In [9]:
data8 = pd.read_csv('Sales8.csv')

In [10]:
data9 = pd.read_csv('Sales9.csv')

In [11]:
data10 = pd.read_csv('Sales10.csv')

In [12]:
data11 = pd.read_csv('Sales11.csv')

In [13]:
data12 = pd.read_csv('Sales12.csv')

In [18]:
data = pd.concat([data1,data2,data3,data4,data5,data6,data7,data8,data9,data10,data11,data12])

In [22]:
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"